<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="form-container">
        <h3>Enter security code</h3>
        <hr >
        <h6>Please check your emails for a message with your code. Your code is 4 numbers long.
        </h6>
        <label for="numberInput"></label>
        <div class="row">
            <div class="col col-sm-12 col-md-6 col-lg-6 col-12">
        <input type="number" id="numberInput" name="numberInput" placeholder="enter code" min="0" max="4" step="1">
       </div>
       <div class="col col-sm-12 col-md-6 col-lg-6 col-12 ">
       <p>we sent your code to:<br></p></div></div>
        <hr>
        <div class="row">
            <div class="col mx-2 col-sm-6 col-md-6 col-lg-4 col-6 sm-mx-5">
                <a routerLink="/forgot">didn't get your code?</a>
            </div>
            <div class="col col-sm-6 col-md-6 col-lg-7 col-6 sm-mx-5">
                <div class="row">
        <div class="col col-sm-6 col-md-6 col-lg-6 col-6"><button type="submit">Submit</button></div>
        <div class="col col-sm-6 col-md-6 col-lg-6 col-6"><button type="submit" class=" cancel">cancel</button></div>
        </div>
        </div>
        </div>
    </div>
</body>
</html>
