<app-navbar></app-navbar>
<div class="container-fluid bcolor">
  <div class="pflex w-75 mx-auto">


    <div class="addp row">


      <div class="add col-sm-12 col-md-3 col-lg-3 col-12m">
        <h4 class="ctittle">Let's get in touch</h4>
        <span class="cpre">We're open for any </span><br>
        <span class="cpre">suggestion or just to have a chat</span>
        <div class="ff mt-5">

          <p><i class="bi bi-geo-alt-fill cicons"></i><span class="cpadleftt">Address :</span></p>
          <span class="cpadleft">Yousufguda, Hyderabad</span><br>

          <span class="cpadleft">Telangana - 500045 India.</span>
          <div class="mt-4">
            <p><i class="bi bi-telephone-fill cicons"></i><span class="cpadleftt">Phone:</span><span class="urde">+91
                8459 345678</span></p>
          </div>
          <br>
          <p><i class="bi bi-envelope-plus-fill cicons"></i><span class="cpadleftt">Email:</span><span
              class="urde">helpgetphoto.com</span></p>
        </div>
      </div>
      <div class="details col-sm-12 col-md-5 col-lg-5 col-12">
        <div class="form-floating mb-3">
          <input type="Name" class="form-control" id="floatingInput" placeholder="Full Name">
          <label for="floatingInput">Full Name</label>
        </div>
        <div class="form-floating">
          <input type="" class="form-control" id="floatingPassword" placeholder="name@example.com">
          <label for="floatingPassword">Mobile Number</label>
        </div>
        <br>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Message</label>
        </div>
        <br>
        <button type="button" class="btn btn-success">Success</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>