<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="otpparent">
    <div class="row mx-auto w-75">
      <div class="col-12 col-md-5 rightside">
        <img src="assets/images/demo_image.png" id="imagew" alt="Demo Image">
      </div>
      <div class="col-12 col-md-7 smalldevices mt-5">
        <form [formGroup]="whatsauthetication">
          <div class="row">
            <div class="col-12 col-sm-2 col-md-2 col-lg-2 whatsapplogo">
              <i class="pi pi-whatsapp bb" style="font-size: 4.5rem"></i>
            </div>
            <div class="col-12 col-sm-10 col-md-5 col-lg-5 whatsapplogotext">
              <h5>Enter Your</h5>
              <h5>WhatsApp Number</h5>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="input-group flex-nowrap">
                <span class="input-group-text mbcolor" id="addon-wrapping">+91</span>
                <input type="text" class="form-control" placeholder="MOBILE NUMBER" aria-label="Mobile Number" formControlName="number" aria-describedby="addon-wrapping">
              </div>
              <!-- <div *ngIf="whatsauthetication.get('number')?.invalid && whatsauthetication.get('number')?.touched">
                <small class="error" *ngIf="whatsauthetication.get('number')?.errors?.['required']">Please enter a WhatsApp number</small>
                <small class="error" *ngIf="whatsauthetication.get('number')?.errors?.['invalidWhatsAppNumber']">WhatsApp number must start with '91' followed by 6, 7, 8, or 9 and contain 10 digits</small>
              </div> -->
            </div>
          </div>
          <br>
          <div class="row" *ngIf="otp">
            <div class="col-12 col-md-6">
              <span class="otpcolor">OTP:</span>
              <input type="password" id="inputPassword6" class="form-control" formControlName="body" placeholder="ENTER OTP HERE" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-12 col-md-6">
              <label for="input" class="text">Full Name:</label>
              <input type="text" class="input" id="floatingInput" class="form-control" placeholder="Full Name" formControlName="fullName">
            </div>
          </div>
          <br>
          <div class="butnotp">
            <button type="button" class="btn sign btn-primary me-2" [disabled]="isLoading" (click)="onVerifyButtonClick(number)" *ngIf="!otp">
              <ng-container *ngIf="!isLoading">VERIFY</ng-container>
              <ng-container *ngIf="isLoading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                VERIFY
              </ng-container>
            </button>
            <button type="button" class="btn btn-primary" [disabled]="isVerifyingOtp" (click)="verifyOtp()" *ngIf="otp">
              <ng-container *ngIf="!isVerifyingOtp">VERIFY OTP</ng-container>
              <ng-container *ngIf="isVerifyingOtp">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                VERIFY OTP
              </ng-container>
            </button>
          </div>
<router-outlet></router-outlet>
        </form>
      </div>
    </div>
  </div>
</body>

</html>