<div class="header-containerr totalPage">
  <div class="container-fluid">
    <ul class="nav justify-content-end">
      <div class="d-flex align-items-center">
        <div class="form nav-item">
          <form>
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
        </div>
        <div class="items d-flex">
          <img
            class="nav-item"
            src="https://img.icons8.com/ios-filled/30/settings.png"
            alt="settings"
          />

          <img
            class="nav-item"
            src="https://img.icons8.com/material-sharp/30/bell.png"
            alt="bell"
          />

          <img
            class="nav-item"
            src="https://img.icons8.com/pastel-glyph/30/person-male--v3.png"
            alt="person-male--v3"
          />

          <a
            class="btn-secondary dropdown-toggle text-light nav-item"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ username }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['changepasswordphotographer']"
                >Change Password</a
              >
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            <!--  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
                 
        </div>
      </div>
    </ul>
  </div>
</div>
