<!--hero section start-->
<app-navbar></app-navbar>


<!--hero section end-->

<!--blog start-->
<section class="blog">
  <div class="blog__wrapper">
    <div class="blog__content">
      <div class="container privacy">
        <h5 class="section-heading color-black">Terms of service</h5>
        <br />
        <p>
          Welcome to Our site, These Terms of Service govern your access to and
          use of the service, including any content, functionality, and services
          offered on or through The Wisguys Tech by Us.
          <br />
          Please read these Terms carefully before using the Service.
          <br />
          By accessing or using the Service, you agree to be bound by these
          Terms and our Privacy Policy. If you do not agree to these Terms or
          our Privacy Policy, you may not use the Service.
        </p>
        <br /><br />
        <h5 class="section-heading color-black">1. Description of Service</h5>
        <br />
        <p>
          We provide social media automation tools that allow users to schedule
          and post content across various social media platforms simultaneously.
        </p>
        <br />
        <h5 class="section-heading color-black mt-5">2. User Eligibility</h5>
        <br />
        <p>
          By using the Service, you represent and warrant that you are at least
          18 years old and have the legal capacity to enter into these Terms.
        </p>
        <br />
        <h5 class="section-heading color-black mt-5">
          3. Account Registration
        </h5>
        <br />
        <p>
          To access certain features of the Service, you may be required to
          create an account. You agree to provide accurate, current, and
          complete information during the registration process and to update
          such information to keep it accurate, current, and complete.
        </p>
        <br />
        <h5 class="section-heading color-black mt-5">4. Use of Service</h5>
        <br />
        <p>
          You agree to use the Service only for lawful purposes and in
          accordance with these Terms. You further agree not to:
       
        </p>
        <ul>
            <li>Use the Service in any way that violates any applicable law or regulation.</li>
            <li>Post or transmit any content that is unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, or otherwise objectionable.</li>
            <li>Attempt to gain unauthorized access to the Service, other accounts, computer systems, or networks connected to the Service.</li>
            <li>Introduce any viruses, Trojan horses, worms, logic bombs, or other harmful material into the Service.</li>
        </ul>
        <br>
                <h5 class="section-heading color-black mt-5">5. Intellectual Property</h5>
                <br>
                <p> All content, features, and functionality available through the Service, including but not limited to trademarks, logos, text, images, and software, are the property of 
                    "The Wisguys Tech" or its licensors and are protected by copyright, trademark, and other intellectual property laws.
                </p>
                <br>
                <h5 class="section-heading color-black mt-5">6. Limitation of Liability</h5>
                <br>
                <p> To the fullest extent permitted by law, "The Wisguys Tech" shall not be liable for any indirect, incidental,
                     special, consequential, or punitive damages, including but not limited to loss of profits, data, use, or other intangible
                      losses, arising out of or in connection with your use of the Service.
                </p>
                <br>
                <h5 class="section-heading color-black mt-5">7. Termination</h5>
                <br>
                <p> We reserve the right to terminate or suspend your account and access to the Service at any time,
                     without prior notice or liability, for any reason whatsoever, including without limitation if you breach these Terms.
                </p>
                <br>
                <h5 class="section-heading color-black mt-5">8. Governing Law</h5>
                <br>
                <p> These Terms shall be governed by and construed in accordance with the laws of "The Wisguys Tech", without regard to its conflict of law principles.
                </p>
                <br>
                <h5 class="section-heading color-black mt-5">9. Changes to Terms</h5>
                <br>
                <p> We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision 
                    is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change
                     will be determined at our sole discretion.
                </p>
                <br>
                <h5 class="section-heading color-black mt-5">10. Contact Us</h5>
                <br>
                <p> If you have any questions about these Terms, please contact us.
                </p>
      </div>
    </div>
  </div>
</section>
<!--blog end-->
<app-footer></app-footer>
