<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="container form-container position-relative">
        <!-- <span class="close-icon" onclick="closeForm()">X</span> -->
        <div class="row">

            <div class="col-sm-12 my-3 text-center">
                <h3>Change Password</h3>
            </div>
        </div>
        <p class="text-center">Use the form below to change your password. Your password cannot be the same as your
            username.</p>
        <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
            <input type="text" class="input-lg form-control" formControlName="password"
            placeholder=" old Password"   
            
            >

            <input type="password" class="input-lg form-control " formControlName="confirmPassword" id="password2"
                placeholder=" New Password" autocomplete="off">

            <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                data-loading-text="Changing Password..." value="Change Password">
        </form>
    </div>

</body>

</html>