<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Maven+Pro:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="aboutparent container-fluid">
        <div class="row w-50 mx-auto">
            <div class="col-sm-12 col-md-6 col-lg-6 col-12 mt-2">
                <h3 class="abhcolor">About Us</h3>
                <p>All about our story,</p>
                <p>You have to know</p>
                <button type="button" class="btn btn-warning">Help?</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-12 mt-2">
                <br>
                <div class="swing-container">
    
                    <div class="swing pp">
                        <img  class="swingph" src="/assets/images/swingphoto1.jpeg" >
                    </div>
                    <div class="swing pp">
                        <img class="swingph" src="./assets/images/swingphoto2.jpeg">
                    </div>
                    <br>
                    <br>
                    
                   
                </div>
                
            </div>

        </div>

    </div>
    <div class="container-fluid booold">
    <div class="row w-75 mx-auto mt-2">
        <div class="col-sm-12 col-lg-8 col-md-8 col-12">
            
                <p class="ab1color"><span class="abcolor">Who</span>&nbsp;are we ?</p>
                
                <p>GetPhoto is not merely a platform for storing images; it's a sanctuary for emotions and memories. In every line of code, every pixel perfected, we're dedicated to preserving the essence of your experiences. 
                </p>
                    <p class="left">
               We understand that each photograph is a chapter in your life story, and our diverse team ensures that we encapsulate the depth and range of human emotions in our digital narrative.

</p>
            
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <img class="sphere" src="/assets/images/whvr1.jfif" alt="" >
        </div>
            </div>
            <div class="row w-75 mx-auto mt-5">
                <div class="col-sm-12 col-md-2 col-lg-2 col-12">
                    <img class="sphere" src="/assets/images/whvr2.jfif" alt="" >
                 </div>
                 <div class="col-sm-12 col-md-8 col-lg-8 col-12">
                    
                        <p class="ab1color"><span class="abcolor">What</span>&nbsp;we do?</p>
                        <p>
                           
                         <p>
                            "Dynamic QR Code Magic":

                         We simplify the process of sharing event photos with our dynamic QR code technology. Photographers can effortlessly share their captured moments, and attendees can relive those memories with a simple scan. 
                         </p>
                    

                 </div>
            </div>
            <div class="row w-75 mx-auto mt-5">
                <div class="col-sm-12 col-md-8 col-lg-8 col-12">
                    <p class="ab1color"><span class="abcolor">our story</span>&nbsp;</p>
                    <p>
                        Our story begins with a shared passion for cherishing life's fleeting moments. As individuals who believe in the power of memories, we were inspired by a collective realization - in the fast-paced rhythm of modern life, memories often slip away unnoticed.                    </p>
                <p class="left">
                    Thus, the idea for GetPhoto was born - a digital haven designed to safeguard and celebrate the moments that define our lives. 

                                   </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <img class="sphere" src="/assets/images/whvr3.jpg" alt="" >
                </div>
                    </div>
                    </div>
                    <app-footer></app-footer>
    
</body>
</html>
