<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <body>
    <app-navbar></app-navbar>
    <div class="mobilefigmaresponsive">
    <div class="flexscanner">
        <img class="scanneresponsive" src="/assets/images/scanner.png" alt="">
    </div>
    <div class="mobiletextp">
    <pre class="mobiletext">photos will fly<span><img class="flyadjustment" src="/assets/images/fly.png" alt=""></span></pre>
    <pre class="mobiletext1">to your whatsapp</pre>
    </div>
    <div class="smtextp styling">
    <pre class="smtext">Just scan the QR code and get your</pre>
    <pre class="smtext">photos of the day</pre>
    </div>
    <div class="cards ">
        <div class="card ">

            
            <div class="card-body mx-auto">

                <img src="/assets/images/card1.webp" alt="">

        </div>
        </div>
        <div class="card">
            <div class="card-body mx-auto">
                <img src="/assets/images/card2.jfif" alt="">
            </div>
        </div>
        <div class="card3">

        <div class="card">
            <div class="card-body mx-auto">
                <img src="/assets/images/card4.jfif" alt="">
            </div>
        </div>
        </div>
        <div class="card4">

        <div class="card">
            <div class="card-body mx-auto">
                <img src="/assets/images/card3.webp" alt="">
            </div>
        </div>
        </div>
    </div> 
    </div>  
      
      <div class="bdy ">
        <div class="round ">
            <div class="icon">
               <div class="imgBx " style="--i:1;">
                <img src="/assets/images/kidssaree function.jfif ">
            </div>
            <div class="imgBx" style="--i:2;">
                <img src="/assets/images/childeatinf (1).jpg ">
            </div>
            <div class="imgBx" style="--i:3;">
                <img src="/assets/images/birthdaykids.jfif">
            </div>
            <div class="imgBx" style="--i:4;">
                <img src="/assets/images/marriage.jpg">
            </div>
            <div class="imgBx" style="--i:5;">
                <img src="/assets/images/pregnacy shoot.jpg">
            </div>
            <div class="imgBx" style="--i:6;">
                <img src="/assets/images/family (1).jfif">
            </div>
            <div class="imgBx" style="--i:7;">
                <img src="/assets/images/couples1.webp">
            </div>
            <div class="imgBx" style="--i:8;">
                <img src="/assets/images/babyphto.jfif">
            </div>
            </div>
           <div class="content">
            <div class="contentBx " id="content1">
                <div class="imagecard">
                    <div class="imgBx">
                        <img class="im"src="/assets/images/caaaam.jpg">
                    </div>
                    </div>
                </div>
              </div>
              
              </div> 
              </div>
      
      <!--footer starts-->
<app-footer></app-footer>
