<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container-fluid clr">
      <!-- <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <img class="camera" src="/assets/images/Logo.png" alt="" height="200px" width="100px">
        </div>-->
      <div class="row pt-5 text-white d-flex justify-content-evenly">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <ul class="ful">
            support us
          </ul>
          <hr class="border border-white border-1 opacity-50" />
          <li class="fli">
            <i class="bi bi-chevron-right"></i> Customer support
          </li>
          <li class="fli">
            <a class="nav-link text-white" routerLink="/privacyPolicy"
              ><i class="bi bi-chevron-right"></i>

              privacy policy</a
            >
          </li>
          <li class="fli">
            <a class="nav-link text-white" routerLink="/termsConditions">

            <i class="bi bi-chevron-right"></i>Terms Conditions
            </a>
          </li>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <ul class="ful">
            About us
          </ul>
          <hr class="border border-white border-1 opacity-50" />
          <li class="fli"><i class="bi bi-chevron-right"></i>our story</li>
          <li class="fli"><i class="bi bi-chevron-right"></i>Blogs</li>
          <li class="fli"><i class="bi bi-chevron-right"></i>gallery</li>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <ul class="ful">
            Contact info
          </ul>
          <hr class="border border-white border-1 opacity-50" />
          <li class="fli"><i class="bi bi-telephone"></i>- 9704432222</li>
          <li class="fli">
            <i class="bi bi-geo-alt"></i>-Yousufguda, Khairatabad
          </li>
          <li class="fli">Hyderabad Telangana - 500045 India.</li>
        </div>
      </div>
      <hr class="border border-black" />
      <div class="row text-white">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <p class="icns">follow us</p>
        </div>
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-12 text-center flex justify-content-evenly"
        >
          <a class="p-3" href="#"><img src="/assets/images/facebook.png" /></a>
          <a class="p-3" href="#"><img src="/assets/images/whatsapp.png" /></a>
          <a class="p-3" href="#"><img src="/assets/images/instagram.png" /></a>
          <a class="p-3" href="#"><img src="/assets/images/twitter.png" /></a>
        </div>
        &nbsp;
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-white">
          <p class="cnter">&#64;getphoto All Rights Reserved</p>
        </div>
      </div>
    </div>
  </body>
</html>
