
<nav id="sidebar" class="bg-purple  totalPage allsidenav">
    <ul class="content list-unstyled ">
        <!-- <li class="content__item custom-link">
            <a href="#" class="link link--iocaste linkdata"><i class="bi bi-house-door"></i>
                <span>Home</span>
                <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60"
                    preserveAspectRatio="none">
                    <path
                        d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0">
                    </path>
                </svg>
            </a>
        </li> -->
        <li class="content__item custom-link align-items-center ">
            <a [routerLink]="['dashboardlayout']" class="link link--iocaste linkdata"><i class="bi bi-grid "></i>
                <span class="align-items-center">Dashboard</span>

                <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60"
                    preserveAspectRatio="none">
                    <path
                        d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0">
                    </path>
                </svg>

            </a>
        </li>

        <li class="content__item custom-link">
            <a [routerLink]="['createevent']" class="link link--iocaste linkdata">
                <i class="bi bi-calendar-event"></i>
                <!-- <i class="bi bi-shield-lock"></i> -->

                <span>Events</span>
                <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60"
                    preserveAspectRatio="none">
                    <path
                        d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0">
                    </path>
                </svg>
            </a>

        </li>
        <li class="content__item custom-link">
            <a [routerLink]="['eventlist']" class="link link--iocaste linkdata">
                <!-- <i class="bi bi-bar-chart"></i>  -->
                <i class="bi bi-view-list"></i>
                <span>Events List</span>

                <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60"
                    preserveAspectRatio="none">
                    <path
                        d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0">
                    </path>
                </svg>
            </a>
        </li>

        <li class="content__item custom-link">
            <a [routerLink]="['plansphotographer']" class="link link--iocaste linkdata">
                <i class="bi bi-journal-plus"></i>
                <span>Plans</span>

                <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60"
                    preserveAspectRatio="none">
                    <path
                        d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0">
                    </path>
                </svg>
            </a>
        </li>
        <li class="content__item logout-item custom-link">
            <a href="#" class="link link--iocaste linkdata"><i class="bi bi-box-arrow-left"></i>
                <span (click)="logout()">Logout</span>

                <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60"
                    preserveAspectRatio="none">
                    <path
                        d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0">
                    </path>
                </svg>
            </a>
        </li>

    </ul>
</nav>
<!-- <div class="container">
        <div class="row">
            <div class="col-8 bg-black">Hello</div>
            <div class="col-4 bg-yellow">Hai sravani</div>
        </div>
    </div> -->